h1{
    text-align: center;
}
h3{
    text-align: center;
    padding-bottom: 40px;
}
img{
    
    width:200px;
    height:300px;
}

div{
    text-align: center;
    padding-bottom: 40px;
}

